h1{
    text-align: center;
}
input{
    padding: 15px;
}
.formulaire{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0%;
}
.btn{
    background-color: #008e8e;
    margin-top: 5px;
}
.carte{
    margin-top: 20%
}