
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="transactions">
      <ion-icon name="repeat-outline"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="commission">
      <ion-icon name="reorder-four-outline"></ion-icon>
      <ion-label>Commission</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="calculatrice">
      <ion-icon name="calculator-outline"></ion-icon>
       <ion-label>Calculatrice</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
